.hero{
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;
    background-color: #081942;
}

.hero .cloud{
    width: 100%;
    display: flex;
    justify-content: space-around
}

.hero-left img {
    max-width: 320px;
}

.hero-left h1 {
    margin: 30px 0 20px;
    color: #ffffff;
}

.hero-left p {
    line-height: 1.5;
    color: #ffffff
}

.hero-right{
    width: 100%;
    overflow: hidden;
}

.hero-right .box {
    background-color: #fff;
    padding: 30px;
    margin: 30px auto 0;
    max-width: 395px;
}

.box p strong {
    color: #0047ba;
    font-size: 22px;
    line-height: 1.2;
}

.box ul {
    list-style: none;
    margin: 30px 0;
    padding: 0;
}

.box .price-note {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .88px;
}
.box .price-amount {
    font-size: 50px;
}

.box .price-duration {
    font-weight: 500;
    font-size: 25px;
}
.box ul li::before {
    content: ' ';
    background: transparent url(/images/list-tick.svg) no-repeat center;
    width: 19px;
    height: 15px;
    display: inline-block;
    background-size: cover;
    margin-right: 15px;
}


.btn {
    display: inline-block;
    min-width: 150px;
    margin: 0;
    padding: 10px 20px;
    transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    border-radius: 3px;
}
.btn.btn-secondary {
    color: #fff;
    border: 3px solid #0047ba;
    background-color: #0047ba;
}
.hero a.btn {
    text-align: center;
    width: 232px;
    display: block;
    margin: 0 auto;
}
.btn.btn-secondary:focus, .btn.btn-secondary:hover {
    border-color: #ffc62c;
    background-color: #ffc62c;

}

.hero::after {
    bottom: -95vw;
    background-color: #0047ba;
}
.hero::after, .caab-section::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 120vw;
    height: 100vw;
    left: -10vw;
    border-radius: 50%;
    z-index: 2;
}


.hero, .caab-section {
    position: relative;
    overflow: hidden;
}

.hero.var-grey::after, .caab-section.var-grey::after {
    background-color: #e3e4e8;
}

.caab-section::after {
    top: -5vw;
    background-color: #fff;
}

.caab-hero::after, .caab-section::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 120vw;
    height: 100vw;
    left: -10vw;
    border-radius: 50%;
    z-index: 2;
}

.description .pricing:not(svg) {
    background-color: #e3e4e8;
}

.caab-section::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100vw;
    height: 50vw;
    top: 0;
    left: 0;
    background-color: #ffc62c;
    z-index: 1;
}

.hero .container, .caab-section .container {
    position: relative;
    z-index: 3;
    
}

.caab-section .container {
    padding: 80px
}

.caab-section .description-logo-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 20px;
    justify-content: center;
    margin-bottom: 30px;
}

 .description-logo {
    text-align: center;
}

 .caab-section .description-toggle {
    background-color: #fff;
    border: 0;
    height: 200px;
    margin: 0;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 20%);
}

.description-toggle img{
    padding-top:10px
}



 .description-label {
    margin-top: 7px;
    display: block;
    font-size: 18px;
}


.features {
    display: block;
    text-align: center
}


 .features-block-grid{
     text-align: center;
    display: grid;
    /* grid-column: 1 / 3; */
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 30px 0px;
}

 .features-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.icon {
    display: block;
    transition: fill .3s ease;
}

 .features-block p {
    font-size: 16px;
    width: 290px;

    line-height: 1.25;
}

 .features-block p strong {
    font-size: 20px;
    line-height: 1.3;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .features-block-grid{
        display: grid;
        
    }

}